{% extends 'sellerApp/bar.html' %}


{% block content %}
    <section class="ftco-section" style="">
      <div class="container">
      	<div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 heading-section ftco-animate text-center">
            <h2 class="mb-4">Все продукты</h2>
            <p class="flip"><span class="deg1"></span><span class="deg2"></span><span class="deg3"></span></p>
            <p class="mt-5">Перед вами список товаров, вы можете изменять/удалять, а также просмотреть подробную информацию о них</p>
          </div>
        </div>
      </div>
    </section>
<div class="container-wrap" style="margin-top: -100px;">
     <div class="row no-gutters d-flex">
    {% for product in products_list %}
        <div class="col-lg-4 d-flex ftco-animate" style="border: solid black 1px;">
            <div class="services-wrap d-flex">
                <img src="{{ product.product_image.url }}" alt="" class="img">
                <div class="text p-4">
                    <h3>{{ product.title }}</h3>
                    <p>объем: {{ product.volume }}<br>процент крепкости: {{ product.alcohol_percentage }}%<br>страна произовдства: {{ product.brand.country }}</p>
                    <p class="price"><span>{{ product.price }} сум</span> </p>
                    <div style="margin-top: 10px; margin-left: -10px">
                        {% if request.user.is_staff %}
                            <p><a href="{% url 'product_detail' product.slug %}" class="ml-2 btn btn-white btn-outline-white">Подробнее</a></p>
                            <p><a href="{% url 'product_delete' product.slug %}" class="ml-2 btn btn-white btn-outline-white">Удалить товар</a></p>
                        {% else %}
                            <p><a href="{% url 'detail_product' product.slug %}" class="ml-2 btn btn-white btn-outline-white">Подробнее</a></p>
                            {% if user.is_authenticated %}
                                <p><a href="{% url 'add_to_cart' product.id %}" class="ml-2 btn btn-white btn-outline-white">Добавить в корзину</a></p>
                            {% endif %}
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>
    {% endfor %}
     </div>
</div>
<div class="pagination" style="margin-top: 100px;">
    <span class="step-links" style="margin: auto">
        {% if products_list.has_previous %}
            <a class="ml-2 btn btn-white btn-outline-white" href="?page=1">&laquo; первая</a>
            <a class="ml-2 btn btn-white btn-outline-white" href="?page={{ products_list.previous_page_number }}">предыдущая</a>
        {% endif %}

        <span class="current">
            Страница {{ products_list.number }} из {{ products_list.paginator.num_pages }}
        </span>

        {% if products_list.has_next %}
            <a class="ml-2 btn btn-white btn-outline-white" href="?page={{ products_list.next_page_number }}">следующая</a>
            <a class="ml-2 btn btn-white btn-outline-white" href="?page={{ products_list.paginator.num_pages }}">последняя &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}